.title {
  font-family: 'MerriWeather';
}

.alt {
  color: gray;
  font-size: 12px;
}

.titleContainer {
  border-bottom: 1px solid lightgray;
}

.verdanaText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  height: auto;
  width: 100%;
}

.actionButton {
  border: none;
  margin-right: 1.5rem;
  background-color: #09357b;
  color: #ffffff;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
}

.icon {
  margin-right: 12px;
}
