.title {
  font-family: 'MerriWeather';
}

.alt {
  color: gray;
  font-size: 12px;
}

.titleContainer {
  border-bottom: 1px solid lightgray;
}

.verdanaText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  height: auto;
  width: 100%;
}
