@import 'media_query';

font-face {
  font-family: 'Merriweather';
  src: url('../asset/font/Merriweather-Regular.ttf');
  src: url('../asset/font/Merriweather-Bold.ttf');
  // font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'MerriWeather';
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.pageContent {
  // width: 60%;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
}

// paddings

.py-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb-1 {
  @include sm {
    padding-bottom: 1rem;
  }
  @include lg {
    padding-bottom: 0;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}
