.navbar {
  background-color: #09357b;
  height: 100px;
}

.navContainer {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.title {
  color: #ffffff;
}

.searchbar {
  // display: flex;
  // justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
