@import 'src/styles/media_query';

.mainStory {
  height: 400px;
}

.sideStories {
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  row-gap: 1rem;

  // @include md {
  // }

  @include lg {
    row-gap: 2rem;
    height: 400px;
  }
}

.otherStory {
  height: 350px;
}
